* {
    margin: 0px;
    padding: 0px;
}

.d-flex {
    display: flex;
}

/* shared style */
.orange-text {
    color: #E95A08;
}

.grey-text {
    color: #8987A1;
}

.section-heading{
    margin: 0;
    font-size: 3rem;
    line-height: 6.5rem;
}

.section-text {
    margin: 0;
    text-wrap: wrap;
    font-size: 1.4rem;
    word-spacing: 6px;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

/* nav section */
.navbar {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navbar {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.list-text {
    text-decoration: none;
    color: black;
}
.nav-ul {
    list-style: none;
    color: black;
}

.navbar ul{
    gap: 50px;
}

/* banner section */

.banner{
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    justify-content: end;
    align-items: end;
}

.banner-text {
    text-align: left;
    padding: none;
    margin: none;
    /* align-self: flex-end; */
    text-wrap: wrap;
}

.heading {
    margin: 5px 0;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.4;
   
}

.banner-image {
    height: 355px;
    width: 570px;
}


/* out plants section */
main {
    max-width: 1140px;
    margin: 0 auto;
}
.our-plants {
    margin: 120px auto;
    text-align: center;
}

.plant-card-text {
    width: 888px;
    margin: 0 auto;
}


.card-text {
    font-size: 1.2rem;
}

.plant-cards {
    margin: 60px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-price {
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: 600;
}
.card {
    width: 270px;
    height: 485px;
}

.card-btn {
    border: none;
    width: 100%;
    font-size: 0.9rem;
    padding: 15px;
    background-color: #E95A08;
}
.btn-text {
    color: white;
    font-weight: 600;

}


/* latest deals section */

.latest-deals-text {
    max-width: 888px;
    margin: 50px auto;
    text-align: center;
}

.latest-deals-card {
    height: 424px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 25px;
}

.ld-card-img1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/deal-bloom.png);
    width: 367px;
    height: 200px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
}

.ld-card-img2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/deal-ana.png);
    width: 367px;
    height: 197px;
    border-radius: 10px;
    margin-top: 25px;
    font-size: 1.5rem;
    color: white;

}

.ld-card-img3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/deal-zabo.png);
    width: 748px;
    height: 423px;
    border-radius: 10px;
    padding: 0;
    font-size: 2.5rem;
    color: white;
}

.bloom-plant {
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 6px;
}

.zabo-plant {
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

/* mail section */

.mail {
    background-image: url(../assets/news-letter-bg.png);
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    margin: 80px 0  ;
    position: relative;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.news-letter {
    height: 50px;
    width: 830px;
    margin: 0 auto;
    
}    

.news-ltr-heading {
    font-size: 3rem;
    color: white;
    margin: 20px auto;
    vertical-align: center;
    text-align: center;

}

.news-ltr-input {
    width: calc(100% - 186px); 
}

.news-ltr-btn {
    width: calc(100% - 644px);
}


/* footer section */

.footer {
    max-width: 1120px;
    margin: 0 auto;
    height: 248px;
    justify-content: space-between;
}

.ftr-logo {
    max-width: 359px;
    height: 180px;
}

.ftr-lst-1 {
    list-style: none;
    max-width: 85px;
    height: 248px;
}

.footer li {
    list-style: none;
    margin-bottom: 30px;
    color: #8987A1;;
}

.ftr-lst-2 {
    list-style: none;
    max-width: 128px;
    height: 248 px;
}

.social {
    max-width: 216px;
    height: 85px;
    /* display: flex; */
}

.icons {
    padding-right: 18px;
}

.ftr-text {
    color: #8987A1;
    font-size: 1.3rem;
}